<section class="container criar-citacoes ff-inter">
  <header>
    <h2>Adicione um pensamento novo:</h2>
  </header>
  <form>
    <label for="autor">Autor(a) ou Fonte:</label>
    <input type="text" name="autor" id="autor" class="input" placeholder="Insira o nome do(a) autor(a) ou fonte">
    <label for="pensamento">Pensamento:</label>
    <input type="textarea" name="pensamento" id="pensamento" class="input" placeholder="Digite seu pensamento">

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">


      <div class="radio-modelo">
        <label class="modelo-teste" for="modelo1">
          <input type="radio" name="modelo-teste" id="modelo1" value="class1">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="/assets/imgs/aspasazul.png" alt="">
          <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </p>
          <p class="autor"><b>Lorem Ipsum</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label class="modelo-teste" for="modelo2">
          <input type="radio" name="modelo-teste" id="modelo2" value="class2">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="/assets/imgs/aspasazulclaro.png" alt="">
          <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </p>
          <p class="autor">Lorem Ipsum</p>
        </div>
      </div>
      <div class="radio-modelo">
        <label class="modelo-teste" for="modelo3">
          <input type="radio" name="modelo-teste" id="modelo3" value="class3">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="/assets/imgs/aspasverde.png" alt="">
          <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </p>
          <p class="autor">Lorem Ipsum</p>
        </div>
      </div>

    </div>
    <button class="button">Criar pensamento</button>
  </form>
</section>
