
<form>
  <label for="citacao">Citação</label>
  <input id="citacao" type="text" name="citacao" [(ngModel)]="citacao.conteudo">
  <label for="autoria">Autoria</label>
  <input id="autoria" type="text" name="autoria" [(ngModel)]="citacao.autoria">

  <p>Selecione o modelo do card</p>

  <label for="modelo1">Modelo 1</label>
  <input id="modelo1" type="radio" name="modeloCard" value="modelo1" [(ngModel)]="citacao.modelo">
  <label for="modelo2">Modelo 2</label>
  <input id="modelo2" type="radio" name="modeloCard" value="modelo2" [(ngModel)]="citacao.modelo">
  <label for="modelo3">Modelo 3</label>
  <input id="modelo3" type="radio" name="modeloCard" value="modelo3" [(ngModel)]="citacao.modelo">

  <button type="submit" (click)="cadastrarCitacao()">Adicionar citação</button>

</form>

