<div class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu mural</h2>
    <button class="button" (click)="criarCitacao()">Adicionar pensamento</button>
  </header>
  <section class="mural" *ngIf="listaCitacaoMocada?.length > 0; else semCitacoes">
    <div *ngFor="let citacao of listaCitacaoMocada">
      <app-citacao [citacao]="citacao"></app-citacao>
    </div>
  </section>
</div>
<ng-template #semCitacoes>
  <div class="ff-inter sem-citacao">

    <p>Ainda não há citações por aqui!</p>
  </div>
</ng-template>
