<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu mural</h2>
    <button class="button" (click)="criarCitacao()">Adicionar pensamento</button>
  </header>
  <div class="mural" *ngIf="listaCitacaoMocada?.length > 0; else semCitacoes">
    <div *ngFor="let citacao of listaCitacaoMocada">
      <div class="citacao {{citacao.modelo}} ff-roboto-mono">

        <img src="/assets/imgs/aspasazul.png" alt="">
        <p class="conteudo">{{ citacao.conteudo }}</p>
        <p class="autor"><b>{{ citacao.autoria }}</b></p>
      </div>
    </div>
  </div>
</section>
<ng-template #semCitacoes>
  <p>Ainda não há citações por aqui!</p>
</ng-template>
