<div class="citacao {{citacao.modelo}} ff-roboto-mono" [ngClass]="larguraCitacao()">
  <img src="/assets/imagens/{{citacao.modelo}}.png" alt="">
  <p class="conteudo">{{ citacao.conteudo }}</p>
  <p class="autor"><b>{{ citacao.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/citacoes/alterarCitacao/{{citacao.id}}">
      <img src="/assets/imagens/icone-editar.png" alt="">
    </button>
    <button class="botao-excluir" routerLink="/citacoes/excluirCitacao/{{citacao.id}}">
      <img src="/assets/imagens/icone-lixeira.png" alt="">
    </button>
  </div>
</div>

