<section class="container criar-citacoes ff-inter">
  <header>
    <h2>Adicione um pensamento novo:</h2>
  </header>
  <form>
    <label for="autor">Autor(a) ou Fonte:</label>
    <input type="text" name="autor" id="autor" class="input" placeholder="Insira o nome do(a) autor(a) ou fonte">
    <label for="pensamento">Pensamento:</label>
    <input type="textarea" name="pensamento" id="pensamento" class="input" placeholder="Digite seu pensamento">

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">


      <div class="radio-modelo">
        <label class="modelo-teste" for="modelo-teste">
          <input type="radio" name="modelo-teste" id="modelo-teste">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="/assets/imgs/aspasazul.png" alt="">
          <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </p>
          <p class="autor">Lorem Ipsum</p>
        </div>
      </div>
      <div class="radio-modelo">
        <label class="modelo-teste" for="modelo-teste">
          <input type="radio" name="modelo-teste" id="modelo-teste">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="/assets/imgs/aspasazulclaro.png" alt="">
          <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </p>
          <p class="autor">Lorem Ipsum</p>
        </div>
      </div>
      <div class="radio-modelo">
        <label class="modelo-teste" for="modelo-teste">
          <input type="radio" name="modelo-teste" id="modelo-teste">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="/assets/imgs/aspasverde.png" alt="">
          <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </p>
          <p class="autor">Lorem Ipsum</p>
        </div>
      </div>

    </div>
    <button class="button">Criar pensamento</button>
  </form>
</section>

<!-- <form>
  <label for="citacao">Citação</label>
  <input id="citacao" type="text" name="citacao" [(ngModel)]="citacao.conteudo">
  <label for="autoria">Autoria</label>
  <input id="autoria" type="text" name="autoria" [(ngModel)]="citacao.autoria">

  <p>Selecione o modelo do card</p>

  <label for="modelo1">Modelo 1</label>
  <input id="modelo1" type="radio" name="modeloCard" value="modelo1" [(ngModel)]="citacao.modelo">
  <label for="modelo2">Modelo 2</label>
  <input id="modelo2" type="radio" name="modeloCard" value="modelo2" [(ngModel)]="citacao.modelo">
  <label for="modelo3">Modelo 3</label>
  <input id="modelo3" type="radio" name="modeloCard" value="modelo3" [(ngModel)]="citacao.modelo">

  <button type="submit" (click)="criarCitacao()">Adicionar citação</button>

</form> -->
