<header class="header d-flex">
  <h2 class="ff-inter">Meu mural</h2>
  <button class="button">Adicionar citação</button>
</header>
<section class="container mural">
  <div class="citacao modelo1 ff-roboto-mono">
    <img src="/assets/imgs/aspasazul.png" alt="">
    <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
    <p class="autor"><b>Lorem Ipsum</b></p>
  </div>
  <div class="citacao modelo2 ff-roboto-mono">
    <img src="/assets/imgs/aspasazul.png" alt="">
    <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
    <p class="autor"><b>Lorem Ipsum</b></p>
  </div>
  <div class="citacao modelo3 ff-roboto-mono">
    <img src="/assets/imgs/aspasazul.png" alt="">
    <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
    <p class="autor"><b>Lorem Ipsum</b></p>
  </div>
  <div class="citacao modelo1 ff-roboto-mono">
    <img src="/assets/imgs/aspasazul.png" alt="">
    <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
    <p class="autor"><b>Lorem Ipsum</b></p>
  </div>
  <div class="citacao modelo2 ff-roboto-mono">
    <img src="/assets/imgs/aspasazul.png" alt="">
    <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
    <p class="autor"><b>Lorem Ipsum</b></p>
  </div>
  <div class="citacao modelo3 ff-roboto-mono">
    <img src="/assets/imgs/aspasazul.png" alt="">
    <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
    <p class="autor"><b>Lorem Ipsum</b></p>
  </div>
</section>
